{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Farmacompare</title>
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header class="header">
        <nav>
            <a href="{% url 'core:index' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
            </a>
            <div class="nav-links">
                <a href="#plans">Serviços</a>
                <a href="#services">Sobre</a>
                <a href="#testimonials">Depoimentos</a>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <button class="btn-nav" id="user-menu-button">
                            <a href="#" class="nav-link" aria-label="Perfil de {{ user.username }}">
                                <i class="bi bi-person-circle"></i> {{ user.username }}
                            </a>
                        </button>
                        <div class="sidebar-menu" id="sidebar-menu">
                            <ul>
                                <li><a href="{% url 'core:auth' %}"><i class="bi bi-person-circle"></i> Ver Minha Conta</a></li>
                                <li><a href="{% url 'core:auth' %}"><i class="bi bi-arrow-up-circle"></i> Subir Plano</a></li>
                                <li><a href="{% url 'core:logout' %}"><i class="bi bi-box-arrow-right"></i> Sair</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'core:auth' %}" aria-label="Login">
                                <img src="{% static 'img/users.png' %}" alt="Login" class="login-icon">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="banner">
        <img src="https://storage.googleapis.com/a1aa/image/9R3PBZonyWbIOBAOlvaPWGMEQKUhZTXGkMOEpe40vuVzuY0JA.jpg"
             alt="Banner with text '20% OFF FOR FULL BODY CHECK-UP' and a phone number">
    </div>
    <div class="content">
        <h2>Compare os melhores preços e economize</h2>
        <div class="products">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image_url }}" alt="Product Image">
                <h3>{{ product.name }}</h3>
                <p>R$ {{ product.price }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="partners">
        <h2>Farmácias Parceiras</h2>
        {% for partner in partners %}
        <img src="{{ partner.logo_url }}" alt="Partner Logo">
        {% endfor %}
    </div>
    <div class="footer">
        <div class="contact-info">
            <div>
                <i class="fas fa-envelope"></i>
                <p>info@youraddress.com</p>
                <p>646-675-1974</p>
            </div>
            <div>
                <i class="fas fa-map-marker-alt"></i>
                <p>3041 Smart Street, New York</p>
                <p>United States</p>
            </div>
            <div>
                <i class="fas fa-clock"></i>
                <p>Open: 12:00 pm</p>
                <p>Closed: 22:00 pm</p>
            </div>
        </div>
        <div class="subscribe">
            <input type="email" placeholder="Enter your email">
            <button>Subscribe</button>
        </div>
        <p>© All rights reserved. FarmaCompare</p>
    </div>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>
